.new-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 45px;
    margin: auto;
    padding-left: 110px;
    gap: 5px;
    align-items: center;
}
.new-img {
display: flex;
position: relative;
width: 230px;
height: 230px;
margin-top: 85px;
padding: 45px;
margin-left: 25px;
}
.new-info h3 {
font-size: 24px;
font-weight: 500;
margin-left: 70px;
align-items: center;
}
.new-info span {
font-size: 18px;
font-weight: 500;
margin-left: 70px;
color: rgb(51, 51, 51);
}
.new-bottom {
display: flex;
align-items: center;
justify-content: space-around;
margin: 18px;
}
.new-bottom .price {
    color: rgb(51, 51, 51) ;
    font-size: 20px;
    font-weight: 300px;
    margin-right: 160px;
}
.new-bottom .icon {
font-size: 28px;
padding: 5px;
color: rgb(153, 0, 153);
border-radius: 50px;
}
.new-items:hover {
transform: scale(0.99);
transition: 0.75s;
}



@media screen and (min-width: 319px) and (max-width:575px) {
    .new-container {
        margin-top: 28px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        padding-left: 32px;
        margin-right: 10px;
        gap:inherit;
    }
    .new-items {
        width: 180px;
        height: 250px;
    }
    .new-img {
         width: 75px;
         height: 75px;
         margin-left: 3px;
    }
    .new-info h3 {
        font-size: 15px;
        font-weight: 600;
        margin-left: 20px;
    }
    .new-info span {
        font-size: 13px;
        margin-left: 20px;
    }
    .new-bottom .price {
        font-size: 16px;
        font-weight: 400px;
        margin-left: 20px;
    }
}
@media screen and (min-width: 576px) and (max-width:767px) {
    .new-container {
        margin-top: 33px; 
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        margin-left: 3px;
        gap:inherit;
    }
    .new-items {
        width: 200px;
        height: 300px;
    }
     .new-img {
         width: 90px;
         height: 90px;
         margin-left: 4px;
    }
    .new-info h3 {
        font-size: 17px;
        margin-left: 22px;
    }
    .new-info span {
        font-size: 15px;
        margin-left: 25px;
    }
    .new-bottom .price {
        font-size: 17px;
        font-weight: 400px;
        margin-left: 20px;
    }
}
@media screen and (min-width: 768px) and (max-width:991px) {
    .new-container {
        margin-top: 33px; 
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-left: 8px;
        align-items: center;
     }
    .new-items {
        width: 250px;
        height: 300px;
    }
    .new-img {
         width: 150px;
         height: 150px;
     }
    .new-bottom {
        margin-right: 160px;
    }
    .new-info h3 {
        font-size: 18px;
        margin-left: 60px;
    }
    .new-info span {
        font-size: 15px;
        margin-left: 60px;
    }
    .new-bottom .price {
        font-size: 18px;
        font-weight: 400px;
        margin-left: 60px;
    }
}
@media screen and (min-width: 992px) and (max-width:1023px) {
    .new-container {
        margin-top: 35px; 
        margin-bottom: 140px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-content: center;
        margin-right: 100px;
        padding-left: 45px;
        gap:inherit;
    }
    .new-items {
        width: 200px;
        height: 280px;
    }
    .new-img {
         width: 120px;
         height: 120px;
         align-items: center;
    }
    .new-info h3 {
        font-size: 18px;
        margin-left: 60px;
    }
    .new-info span {
        font-size: 14px;
        margin-left: 60px;
    }
    .new-bottom .price {
        font-size: 16px;
        font-weight: 400px;
        margin-left: 60px;
    }
}
@media screen and (min-width: 1024px) and (max-width:1440px) {
    .new-container {
        margin-top: 40px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        padding-left: 45px;
        margin-right: 100px;
    }
    .new-items {
        width: 230px;
        height: 310px;
    }
    .new-img {
         width: 120px;
         height: 120px;
    }
    .new-info h3 {
         font-size: 19px;
         margin-left: 50px;
    }
    .new-info span {
         font-size: 16px;
         margin-left: 50px;
    }
    .new-bottom .price {
        font-size: 19px;
        font-weight: 400px;
        margin-left: 50px;
    }
}