.sidebar-title {
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 10px;
}
.sidebar {
    width: 12%;
    position: fixed;
    height: 100%;
    border-right: 2px solid darkgrey;
    display: inline-block;
    flex-direction: column;
    align-items: center;
    z-index: 3;
}
.logo-container {
    margin-bottom: 20px;
}
.logo-container-icon{
    width: 30px;
    height: 30px;
    color: #333;
    margin-top: 5px;
    margin-left: 50px;
}



@media screen and (min-width: 319px) and (max-width:559px) {
    .sidebar {
       width: 22.5%;
    }
    .sidebar-title {
        margin-bottom: 4px;
    }
}  
@media screen and (min-width: 560px) and (max-width:659px) {
    .sidebar {
        width: 20%;
    }
}
@media screen and (min-width: 660px) and (max-width:749px) {
    .sidebar {
        width: 18%;
    }
}
@media screen and (min-width: 750px) and (max-width:949px) {
    .sidebar {
        width: 16%;
    }
}
@media screen and (min-width: 950px) and (max-width:1020px) {
    .sidebar {
        width: 14%;
    }
}
@media screen and (min-width: 991px) and (max-width:1200px) {
    .sidebar {
        width: 15%;
    }
}