.newsletter-container {
	display: flex;
    width: 75%;
    overflow: hidden;
	justify-content: center;
	margin-top: 100px;
	margin-left: 180px;
}
.newsletter_content {
	background-color: white;
    width: 55%;
	border-radius: 22px;
    margin-top: 25px;
	padding: 52px 30px;
	text-align: center;
	align-items: center;
	position: relative;
	margin-bottom: 50px;
	box-shadow: 0 2px 5px 3px rgb(51, 51, 51);
}
.newsletter_title {
	font-size: 35px;
	font-weight: bold;
	line-height: 42px;
	color: rgb(51, 51, 51);
}
.newsletter p {
	font-size: 19px;
	font-weight: 380px;
	line-height: 22px;
	color: rgb(51, 51, 51);
}

.newsletter_form {
	padding: 15px;
	border-radius: 5px;
	background-color: (102, 204, 255);
	display: flex;
	gap: 15px;
}
.newsletter_form input {
    width: 70%;
    height: 40px;
	font-size: 16px;
    gap: 3px;
	border-radius: 10px;
	
}
.newsletter_content button {
	width: 45%;
	justify-content: center;
    background-color: black;
    color: white;
    border-radius: 12px;
	font-size: 18px;
    cursor: pointer;
}


@media screen and (min-width: 1201px) {
    .newsletter-container {
		margin-bottom: 100px;
		gap: 10px;
	}
	.newsletter_title {
		font-size: 32px;
	}
	.newsletter p {
		font-size: 17px;
	}
}
@media screen and (min-width: 992px) and (max-width:1200px) {
	.newsletter-container {
		margin-bottom: 70px;
	}
	.newsletter_title {
		font-size: 26px;
	}
	.newsletter p {
		font-size: 16px;
	}
	.newsletter_form input {
	   width: 60%;
       height: 35px;
	   font-size: 14px;
	}
	.newsletter_content button{
		width: 40%;
		font-size: 15px;
	}
}
@media screen and (min-width: 768px) and (max-width:991px){
    .newsletter-container {
		margin-left: 100px;
		margin-top: 180px;
	}
	.newsletter_title {
		font-size: 27px;
	}
	.newsletter p {
		font-size: 16px;
	}
	.newsletter_form input {
	   width: 55%;
       height: 32px;
	   font-size: 12px;
	}
	.newsletter_content button{
		width: 46%;
		font-size: 13px;
	}
}
@media screen and (min-width: 576px) and (max-width:767px) {
	.newsletter-container {
		margin-left: 70px;
	}
	.newsletter_title {
		font-size: 24px;
	}
	.newsletter p {
		font-size: 15px;
	}
	.newsletter_form input {
	   width: 52%;
       height: 32px;
	   font-size: 11px;
	}
	.newsletter_content button{
		width: 42%;
		font-size: 12px;
	}
	.newsletter_form {
		gap: 22px;
	}
}
@media screen and (min-width: 319px) and (max-width:575px) {
	.newsletter-container {
		margin-left: 60px;
	}
	.newsletter_title {
		font-size: 22px;
	}
	.newsletter p {
		font-size: 13px;
	}
	.newsletter_form input {
	   width: 45%;
       height: 30px;
	   font-size: 9px;
	}
	.newsletter_content button{
		width: 38%;
		font-size: 10px;
	}
	.newsletter_form {
		gap: 22px;
	}
}