.similar-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 45px;
    gap: 5px;
    align-items: center;
    margin-left: 200px;
}
.similar-items {
    cursor: pointer;
}
.similar-img {
display: flex;
position: relative;
width: 180px;
height: 180px;
margin-top: 85px;
padding: 45px;
margin-left: 25px;
}
.similar-info h3 {
font-size: 22px;
font-weight: 500;
margin-left: 60px;
align-items: center;
}
.similar-info span {
font-size: 17px;
font-weight: 500;
margin-left: 60px;
color: rgb(51, 51, 51);
}
.similar-bottom {
display: flex;
align-items: center;
justify-content: space-around;
padding: 5px;
}
.similar-bottom .price {
color: rgb(51, 51, 51) ;
font-size: 18px;
font-weight: 300px;
margin-right: 120px;
}
.similar-bottom .icon {
font-size: 28px;
padding: 3px;
color: rgb(153, 0, 153);
border-radius: 60px;
}
.similar-items:hover {
transform: scale(0.99);
transition: 0.75s;
}



@media screen and (min-width: 319px) and (max-width:575px) {
    .similar-container {
        margin-top: 28px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        padding-left: 32px;
        margin-right: 150px;
        gap:inherit;
    }
    .similar-items {
        width: 180px;
        height: 250px;
    }
     .similar-img {
         width: 75px;
         height: 75px;
         margin-left: 3px;
    }
    .similar-info h3 {
        font-size: 15px;
        font-weight: 600;
        margin-left: 15px;
    }
    .similar-info span {
        font-size: 13px;
        margin-left: 20px;
    }
    .similar-bottom .price {
        font-size: 16px;
        font-weight: 400px;
        margin-left: 35px;
    }
}
@media screen and (min-width: 576px) and (max-width:649px) {
    .similar-container {
        margin-top: 33px; 
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        margin-left: 100px;
        gap:inherit;
    }
    .similar-items {
        width: 200px;
        height: 300px;
    }
    .similar-img {
         width: 90px;
         height: 90px;
         margin-left: 4px;
    }
    .similar-info h3 {
        font-size: 17px;
        margin-left: 22px;
    }
    .similar-info span {
        font-size: 15px;
        margin-left: 25px;
    }
    .similar-bottom .price {
        font-size: 17px;
        font-weight: 400px;
        margin-left: 20px;
    }
}
@media screen and (min-width: 650px) and (max-width:767px) {
    .similar-container {
        margin-top: 33px; 
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        margin-left: 150px;
        gap:inherit;
    }
    .similar-items {
        width: 200px;
        height: 300px;
    }
    .similar-img {
         width: 90px;
         height: 90px;
         margin-left: 4px;
    }
    .similar-info h3 {
        font-size: 17px;
        margin-left: 22px;
    }
    .similar-info span {
        font-size: 15px;
        margin-left: 25px;
    }
    .similar-bottom .price {
        font-size: 17px;
        font-weight: 400px;
        margin-left: 7px;
    }
}
@media screen and (min-width: 768px) and (max-width:991px) {
    .similar-container {
        margin-top: 33px; 
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-left: 90px;
        align-items: center;
     }
     .similar-items {
        width: 250px;
        height: 300px;
    }
     .similar-img {
         width: 150px;
         height: 150px;
     }
     .similar-bottom {
        margin-right: 160px;
    }
    .similar-info h3 {
        font-size: 18px;
        margin-left: 60px;
    }
    .similar-info span {
        font-size: 15px;
        margin-left: 60px;
    }
    .similar-bottom .price {
        font-size: 18px;
        font-weight: 400px;
        margin-left: 60px;
    }
}
@media screen and (min-width: 992px) and (max-width:1100px) {
    .similar-container {
        margin-top: 35px; 
        margin-bottom: 140px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-content: center;
        margin-left: 4px;
        padding-left: 10px;
        gap:inherit;
    }
    .similar-items {
        width: 200px;
        height: 280px;
    }
    .similar-img {
         width: 100px;
         height: 100px;
         align-items: center;
    }
     .similar-info h3 {
        font-size: 18px;
        margin-left: 60px;
    }
    .similar-info span {
        font-size: 14px;
        margin-left: 60px;
    }
    .similar-bottom .price {
        font-size: 16px;
        font-weight: 400px;
        margin-left: 60px;
    }
}
@media screen and (min-width: 1101px) and (max-width:1500px) {
    .similar-container {
        margin-top: 40px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        padding-left: 35px;
        margin-left: 50px;
    }
    .similar-items {
        width: 230px;
        height: 310px;
    }
    .similar-img {
         width: 120px;
         height: 120px;
    }
    .similar-info h3 {
         font-size: 19px;
         margin-left: 50px;
    }
    .similar-info span {
         font-size: 16px;
         margin-left: 50px;
    }
    .similar-bottom .price {
        font-size: 19px;
        font-weight: 400px;
        margin-left: 50px;
    }
}