.card-container {
    display: flex;
    flex-wrap: wrap;
    margin-left: 15rem;
    margin-top: 32px;
}
.card {
    margin: 20px;
    border: 2px solid rgb(140, 140, 140, 0.25);
    padding: 20px;
    cursor: pointer;
}
.card-img {
    width: 12rem;
    margin-bottom: 16px;
}
.card-title {
    margin-bottom: 16px;
}
.card-category {
    margin-top: 2px;
    font-size: 12px;
}
.card-reviews {
    margin-bottom: 15px;
    display: flex;
   }
   
.ratings-star {
    color: orange;
    cursor: pointer;
}
   
.total-reviews {
    font-size: 12px;
    font-weight: 300px;
    margin-left: 10px;
}
   
.card-price {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 15px;
}
   
.bag-icon {
    color: black;
    font-size: 14px;
}


  
@media screen and (min-width: 319px) and (max-width:575px) {
    .card-container {
        margin-left: 7rem;
        grid-template-columns: 1fr 1fr; 
    }
    .card {
        width: 60px;
        height: 184px;
    }
    .card-img {
        width: 50px;
    }
    .card-price {
        font-size: 10px;
    }
    .card-title {
        font-size: 12px;
    }
    .card-category {
        margin-top: 3px;
        font-size: 8px;
    }
    .card-reviews {
        margin-bottom: 10px;
    }
    .total-reviews {
        font-size: 8px;
    }
    .bag-icon {
        font-size: 10px;
    }
}
@media screen and (min-width: 576px) and (max-width:659px) {
    .card-container {
        margin-left: 9rem;
        grid-template-columns: 1fr 1fr; 
    }
    .card {
        width: 100px;
        height: 205px;
    }
    .card-img {
        width: 80px;
    }
    .card-title {
        font-size: 14px;
    }
    .card-category {
        margin-top: 3px;
        font-size: 8px;
    }
    .card-reviews {
        margin-bottom: 10px;
    }
    .total-reviews {
        font-size: 8.5px;
    }
    .bag-icon {
        font-size: 10.5px;
    }
}
@media screen and (min-width: 660px) and (max-width:749px) {
    .card {
        width: 105px;
        height: 240px;
    }
    .card-container {
        margin-left: 7rem;
        display: grid;
        grid-template-columns: 1fr 1fr; 
        padding: 30px;
        margin-top: 14px;
    }
    .card-img {
        width: 110px;
        margin-bottom: 11px;
    }
    .card-title {
        margin-bottom: 12px;
    }
    .card-category {
        margin-top: 2px;
        font-size: 10px;
    }
    .card-reviews {
        margin-bottom: 12px;
    } 
}
@media screen and (min-width: 750px) and (max-width:949px) {
    .card {
        width: 110px;
        height: 240px;
    }
    .card-container {
        margin-left: 10rem;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .card-img {
        width: 95px;
        margin-bottom: 9px;
    }
    .card-title {
        margin-bottom: 9px;
    }
    .card-category {
        margin-top: 1px;
        font-size: 11px;
    }
    .card-reviews {
        margin-bottom: 9px;
    }
}
@media screen and (min-width: 950px) and (max-width:1005px) {
    .card {
        width: 110px;
        height: 240px;
    }
    .card-container {
        margin-left: 9rem;
        grid-template-columns: 1fr 1fr 1fr ;
    }
    .card-img {
        width: 95px;
        margin-bottom: 9px;
    }
    .card-title {
        margin-bottom: 9px;
    }
    .card-category {
        margin-top: 1px;
        font-size: 11px;
    }
    .card-reviews {
        margin-bottom: 9px;
    }
}
@media screen and (min-width: 1006px) and (max-width:1100px) {
    .card {
        width: 105px;
        height: 280px;
    }
    .card-container {
        margin-left: 12rem;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .card-img {
        width: 110px;
        margin-bottom: 14px;
    }
}
@media screen and (min-width: 1101px) and (max-width:1240px) {
    .card {
        width: 100px;
        height: 280px;
    }
    .card-container {
        margin-left: 12rem;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    .card-img {
        width: 100px;
        margin-bottom: 14px;
    }
}