
body{
	font-family: 'Lora', serif;
    font-weight: 400;
    font-style: normal;
	Line-height: 1;
	padding: 0;
	margin: 0;
	background-color: white;
	box-sizing: border-box;
}
.container {
	width: 90%;
	margin: auto;
	overflow: hidden;
}